*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    
    padding: 30px;
    text-align: center;
}

header h1{
    font-size: 40px;
    margin-bottom: 20px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a{
    color: black;
    text-decoration: none;
}